<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Dashboard
      </ion-tab-button>
      <ion-tab-button tab="qr">
        <ion-icon name="qr-code-outline"></ion-icon>
        QR Scanner
      </ion-tab-button>
      <ion-tab-button tab="face-detection">
        <ion-icon name="happy-outline"></ion-icon>
        Face Detection
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
